<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
	<meta charset="UTF-8">
	<title>Home Stay Management Development by Group5</title>
	<link rel="stylesheet" href=""th:href="@{/css/HomeStyle.css}">
</head>
<body>
	<header>
		<div class="main">
		 <ul>
		 <li class="active"><a href="#"><i class="fa fa-home"></i>Home</a></li>
		 <li><a href="#"><i class="fa fa-caret-down"></i>Members<i class="fa fa-caret-down"></i></a>
		 	<div class="sub-menu">
		 		<ul>	 
		 		 <li><a href="#">Vũ Thanh Phương - 21070139</a></li>
		 		 <li><a href="#">Trần Khắc Quang Minh</a></li>
		 	 </ul>
		 	</div>
		 </li>
		</ul>

		 </div>
		 <div class="title">
		 	<h1>Homestay</h1>
		 </div>
		 <div class="button">
		 	<a href="#" class="btn">Searching</a>
		 	<script src="src/api_handle.js"></script>
		 	<a href="#" class="btn">Deleting</a>
		 	<a href="#" class="btn">Modifying</a>
		 </div>

		 	</header>

</body>
</html>
</html>